$image-size: 50px;
$border-radius: 18px;

.container {
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  align-items: center;
  background: var(--background-gradient);
  border-radius: $border-radius;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--default-shadow);
    text-decoration: underline;
  }

  & > img {
    width: $image-size;
    height: $image-size;
    margin-right: 1rem;
    border-radius: $border-radius;
  }
}

.link {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}
