.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.wrapper {
  list-style-type: none;
  padding: 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  background: var(--background-gradient);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--default-shadow);
    transform: scale(1.02);
  }

  & > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    .trackName {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
    }

    & > img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}
