.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.folder {
  background: var(--background-gradient);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 18px;
  max-width: fit-content;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: var(--default-shadow);
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
