@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
  --sidebar-width: 350px;
  --sidebar-width-closed: 25px;
  --primary-color: #eff0f4;
  --background-gradient: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    #fff 50%,
    var(--primary-color) 100%
  );

  --default-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
