$avatar-size: 50px;
$border-radius: 100%;

.wrapper {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  gap: 1rem;

  & > img {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: $border-radius;
    object-fit: cover;
  }
}

.text {
  padding-top: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
