.wrapper {
  display: flex;
}

.wrapper > main {
  margin-left: var(--sidebar-width);
  flex-grow: 1;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all 0.3s ease-in-out;
}

.noAuthWrapper {
  margin: 0 !important;
  height: 100vh !important;
  background: radial-gradient(circle, #1db954, #191414);
}

@media (max-width: 768px) {
  .wrapper > main {
    margin-left: 0;
  }
}
