$sidebar-width: var(--sidebar-width);
$sidebar-height: 100vh;
$sidebar-bg-color: #f1f1f1;

.wrapper {
    width: $sidebar-width;
    height: $sidebar-height;
    position: fixed;
    background-color: $sidebar-bg-color;

    padding: 2rem;
}