.link {
  text-decoration: none;
  color: inherit;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;

  border-radius: 18px;
  background: var(--background-gradient);

  padding: 1rem;

  max-width: 150px;
  gap: 0.5rem;

  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--default-shadow);
    transform: scale(1.05);
  }

  & > p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > img {
    width: 100px;
    height: 100px;
    border-radius: 18px;
    object-fit: cover;
  }
}
