$image-size: 90px;
$border-radius: 18px;

.wrapper {
  width: 400px;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: $border-radius;
  transition: all 0.3s ease-in-out;
  background: var(--background-gradient);

  & > img {
    width: $image-size;
    height: $image-size;
    border-radius: $border-radius;
    object-fit: cover;
  }

  &:hover {
    box-shadow: var(--default-shadow);
    transform: scale(1.02);
  }

  .albumInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    & > h3 {
      width: 250px;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .albumInfo > p {
    font-size: 0.8rem;
    color: #818181;
    margin-top: 0.5rem;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 1rem 0;
  }
}
